In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, max, min

In [2]:
spark = SparkSession.builder.appName('transform').config('spark.sql.sources.bucketing.enabled',True).getOrCreate()

In [3]:
# Normalization 
# Normalization restrunction of data in normal data range ( 0-1)

In [14]:
integer = spark.range(100,1000).toDF('id')

In [27]:
colmin = integer.select(min('id')).first()[0]
colm = integer.select(max('id')).first()[0]

In [28]:
normalizedata = integer.withColumn("normalizedValue", ( col("id") - colmin )/ (colmax - colmin ) )

In [29]:
# Imputing missing values

In [30]:
# Null values dropiing these records
# Adding  a placeholder 
# basic imputing :- allows to use best guess by mean 
# advanced imputing  :- oversampling or clustering

In [33]:
df = spark.createDataFrame([

      (11, 66, 5),
  (12, 68, None),
  (1, None, 6),
  (2, 72, 7)], 
  ["hour", "temperature", "wind"]

)

In [35]:
df.dropna().show()

+----+-----------+----+
|hour|temperature|wind|
+----+-----------+----+
|  11|         66|   5|
|   2|         72|   7|
+----+-----------+----+

In [36]:
# impute values with mean

In [37]:
df.fillna({"temperature": 68, "wind": 6})

DataFrame[hour: bigint, temperature: bigint, wind: bigint]

In [38]:
# deduplicate data

In [39]:
duplicateDF = spark.createDataFrame([
  (15342, "Conor", "red"),
  (15342, "conor", "red"),
  (12512, "Dorothy", "blue"),
  (5234, "Doug", "aqua")], 
  ["id", "name", "favorite_color"]
)

In [41]:
duplicateDF.dropDuplicates(["favorite_color","id"]).show()

+-----+-------+--------------+
|   id|   name|favorite_color|
+-----+-------+--------------+
|15342|  Conor|           red|
| 5234|   Doug|          aqua|
|12512|Dorothy|          blue|
+-----+-------+--------------+